@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #7c5dfa;
  --secondary-color: #ffffff;
  --body-bg: rgb(255, 255, 255);
  --paid-status-bg: #1f2c3f;
  --paid-status-color: #32cf9b;
  --pending-status-bg: rgba(255, 145, 0, 0.799);
  --pending-status-color: #0b0b0a;
  --small-text-color: #2b2c2f;
  --draft-bg: #252945;
  --delete-btn-bg: #ec5757;
  --edit-btn-bg: #252945;
}
body {
  background: var(--body-bg);
}
h1,h2,h3,h4,h5,h6{
  color:black
}
.sidebar {
  width: 120px;
  height: 100vh;
  background: var(--secondary-color) !important;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 50px 50px rgb(54, 54, 54);
}
.sidebar__container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:100%;

}

.sidebar__heading{
  width: 100%;
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 0 20px 20px 0px;
  background: var(--primary-color); */
}
.sidebar__header{
  background: -webkit-linear-gradient(rgb(66, 1, 1), rgb(248, 111, 111));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{
  text-decoration: none;
  color:var(--small-text-color);
}
.btn{
  padding: 10px 20px;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}
p{
  font-size: 0.9rem;
  color:var(--small-text-color);
}

.main__container{
  position: absolute;
  top: 0;
  left: 10%;
  width: calc(100% - 23%);
  padding: 30px 0px;
}
.invoice__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.invoice__header-logo h3 {
  color: rgb(0, 0, 0);
}
.invoice__item{
  display:flex;
  align-items :center;
  justify-content: space-between;
  padding:30px;
  background: #ddd6f7;
  border-radius: 0.5rem;
  margin-bottom:1.9rem;
  transition:1s;
  color:black
}
.invoice__item:hover{
  border:1px solid var(--primary-color);
  transform: scaleY(1);
}
.pending__status,
.paid__status,
.draft__status,
.edit__btn,
.delete__btn,
.mark__as-btn,
.draft__btn {
  padding: 10px 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
.paid__status {
  background: var(--paid-status-bg);
  color: var(--paid-status-color);
}

.pending__status {
  background: var(--pending-status-bg);
  color: var(--pending-status-color);
}

.invoice__container {
  padding-bottom: 200px !important;
}

.back__btn{
  margin-bottom: 2rem;
  font-size: larger;
  cursor: pointer;

}
.details__status{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.invoice__details-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
 border-radius: .5rem;
 margin-bottom: 2rem;
 background: #ddd6f7;
 
}
.details__btns{
 display: flex;
 align-items: center;
 column-gap:1.2rem;
}
.mark__as-btn{
 background: var(--primary-color);
 color: #fff;
}
.delete__btn{
  background: var(--delete-btn-bg);
  color:#fff;
}
.edit__btn{
  background: var(--edit-btn-bg);
  color:#fff
}
.invoice__details{
  background: #ddd6f7;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.details__box{
  display: flex;
  justify-content:space-between ;
  margin-bottom:2rem ;
}

.invoice__created-date{
  margin-bottom: 1.9rem;
}
.invoice__created-date p, .invoice__payment{
  margin-bottom: 5px;
}
.invoice__client-address h4{
  margin-bottom: 10px;
}
.invoice__item-box{
  background: #c9cef1;
  padding: 30px;
  border-radius: 7px 7px 0px 0px;
  
}
.list{
  list-style: none;
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list__item-box {
  width: 25% !important;
  text-align: right !important;
}

.item__name-box {
  width: 50% !important;
  
}
.grand__total{
  background: #c9cef1;
  padding:30px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 0px 0px 7px 7px;
  display: flex;
  justify-content: space-between;
}


/* ------form------ */
.new__invoice{
  width: 60%;
  margin: auto;
}
.new__invoice-header{
  margin-bottom: 2rem;
}
.form__group input{
  padding : 12px 20px;
  width: 100%;
  border-radius: 5px;
  background: #dedee6;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
}
.form__group{
  margin-bottom: 2rem;
 
}
.form__group p{
  margin-bottom: 10px;
}

.inline__form-group{
  display: flex;
  justify-content: space-between; 
  
}
.inline__group{
  width: 40%;
  
}
.space{
  gap:1.5rem
}
.new__invoice-body{
  padding-bottom: 40px;
}
.bill__title{
  margin-bottom: 20px;
}
.bill__to{
  margin-top: 50px;
}
.invoice__items{
  margin-top: 70px;
}
.invoice__items h3{
  margin-bottom: 30px;
}
.add__item-btn{
  width: 20%;
  height: 3rem;
  background: #a48ff5;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  outline:none;
  color:#fff;
  margin-bottom: 50px;
  cursor: pointer;
  
}
.draft__btn{
  background: var(--edit-btn-bg);
  color:#fff;
  margin-right: 30px;
  width: 150px !important;
}

.new__invoice__btns{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.disable{
  cursor : pointer;
  pointer-events:none;
  opacity: 35%;
}